<nav class="navbar" id="navbar-color">
    <div class="container-fluid navbar-expand-lg">
        <div class="d-flex align-items-center">
            <img src="/img/icononavbar.png" alt="icononavbar" class="navbar-icon">
            <a class="navbar-brand text-light" href="#">ChileStudyHub</a>
        </div>
        <div class="ms-auto d-flex flex-column text-end ">
            <h5 class="text-light">Bienvenido, {{decode.email}}</h5>
            <div class="d-flex align-items-center">
                <p class="mb-0 me-2">Rol: {{decode.tipo_usuario}}</p>
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {{#eq decode.tipo_usuario 'admin'}}
                        <li><a class="dropdown-item" href="/crearCurso">Crear curso</a></li>
                        {{/eq}}
                        <li><a class="dropdown-item" href="/cursos">Ver cursos</a></li>
                        <li><a class="dropdown-item" href="/">Salir</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<body class="background-inicio">
    <div class="container main-content d-flex flex-column align-items-center justify-content-center text-center">
        <h1>Editar Curso</h1>

        <form id="editarCurso" enctype="multipart/form-data" class="w-50">
            <input type="hidden" id="cursoId" value="{{cursoId.[0].id}}">

            <div class="form-group row">
                <div class="col-12 col-sm-6 mb-3">
                    <label class="text-light">Actualizar Nombre</label>
                    <input type="text" name="nombre" class="form-control" value="{{cursoId.nombre}}" required />
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    <label class="text-light">Actualizar Descripción</label>
                    <input type="text" name="descripcion" class="form-control" value="{{cursoId.descripcion}}" required />
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    <label class="text-light">Área</label>
                    <select class="form-control" name="id_area" required>
                        <option value="" disabled selected>Selecciona un área</option>
                        {{#each areaCurso}}
                        <option value="{{this.id}}">{{this.nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    <label class="text-light">Actualizar Fecha de inicio</label>
                    <input type="date" name="fecha_inicio" class="form-control" value="{{cursoId.fecha_inicio}}" required />
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    <label class="text-light">Actualizar Fecha de término</label>
                    <input type="date" name="fecha_termino" class="form-control" value="{{cursoId.fecha_termino}}" required />
                </div>
                <div class="col-12 mb-3">
                    <label class="text-light">Actualizar Portada</label>
                    <input name="portada" type="file" class="form-control" />
                </div>
            </div>
            
            <button type="submit" class="btn btn-warning btn-lg text-light">Confirmar</button>
        </form>
    </div>

    
    <footer class="text-center mt-4">
        <p class="text-light">&copy; 2024 ChileStudyHub - Todos los derechos reservados</p>
    </footer>
</body>

<script src="/js/editarCurso.js"></script>
