<nav class="navbar" id="navbar-color">
    <div class="container-fluid navbar-expand-lg">
        <div class="d-flex align-items-center">
            <img src="/img/icononavbar.png" alt="icononavbar" class="navbar-icon">
            <a class="navbar-brand text-light" href="#">ChileStudyHub</a>
        </div>
        <div class="ms-auto d-flex flex-column text-end ">
            <h5 class="text-light">Bienvenido, {{decode.email}}</h5>
            <div class="d-flex align-items-center">
                <p class="mb-0 me-2">Rol: {{decode.tipo_usuario}}</p>
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/cursos">Ver cursos</a></li>
                        {{#eq decode.tipo_usuario 'estudiante'}}
                        <li><a class="dropdown-item" href="/inscripciones">Ver cursos inscritos</a></li>
                        {{/eq}}
                        <li><a class="dropdown-item" href="/">Salir</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<body>
    <div class="text-center py-5">
        <h1>Mis Cursos Inscritos</h1>
    </div>
    <div class="container main-content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="course-list row">
            {{#each cursosInscritos}}
            <div class="course-item col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <img src="{{this.portada}}" class="card-img-top img-fluid" alt="Portada del curso">
                    <div class="card-body">
                        <h5 class="card-title">{{this.nombre}}</h5>
                        <button class="btn btn-warning text-light" onclick="location.href='/curso/{{this.id}}'">Ir</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <footer class="text-center mt-4">
        <p class="text-light">&copy; 2024 ChileStudyHub - Todos los derechos reservados</p>
    </footer>
</body>
